[submodule "KayFlatlandRL"]
	path = KayFlatlandRL
	url = https://github.com/AmrMKayid/KayFlatlandRL
[submodule "KayOsimRL"]
	path = KayOsimRL
	url = https://github.com/AmrMKayid/KayOsimRL
[submodule "KayMineRL"]
	path = KayMineRL
	url = https://github.com/AmrMKayid/KayMineRL
[submodule "KayAutoLearn"]
	path = KayAutoLearn
	url = https://github.com/AmrMKayid/KayAutoLearn.git
